@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, :root{
  font-family: 'Inter' , sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  background-image: url(fundo.png);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main{    
  padding: 10px;
  max-width: 640px;
  margin: 0 auto 64px;
}

header{
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c3c3c3;    
    text-align: center;    
}

header h1{
  margin-top: 24px;
  font-size: 35px;
  color: #f3f3f5;
  text-align: center;
}

header img{
    background-color: #3030ed;
    border-radius: 42%;
    padding: 8px 18px;
}

#quiz{
  counter-reset: quiz-item;
}

.quiz-item{
  margin-top: 45px;
  border: 1px solid #c3c3c3;
  border-radius: 6px;

  overflow: hidden;
}

.quiz-item h3{
  padding: 18px 20px;
  color: #f3f3f5;
  margin: auto;

  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #0b33f8;
}

.quiz-item h3:before{
  counter-increment: quiz-item;
  content: counter(quiz-item);

  background-color: #030371;
  width: 28px;
  height: 28px;
  font-size: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quiz-item dl{
  padding: 20px 24px;

  display: grid;
  gap: 8px;
}

.quiz-item dl dt{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;

  display: flex;
  align-items: center;
  gap: 8px;

   color: #f3f3f5;
}

input{
  all: unset;
  border: 1px solid #044093;
  width: 16px;
  height: 16px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input:checked{
  border: 1px solid #9797f1;
}

input:checked::before{
  content: "";
  width: 10px;
  height: 10px;

  background-color: #9797f1;
  border-radius: 50%;
}

#acertos{
  text-align: center;
  background-color: #5a7594;
  color: #09095a;

  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 8px;
}